@charset "utf-8";
/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button { margin:0; padding:0; letter-spacing:-0.05em;}
fieldset,img { border:0 none; outline:1px solid transparent;}
dl,ul,ol,menu,li { list-style:none;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after,q:before, q:after { content:''; content:none;}
input,select,textarea,button { font-size:100%; vertical-align:middle;}
button { border:0 none; background-color:transparent; cursor:pointer;}
table { border-collapse:collapse; border-spacing:0;}
body { -webkit-text-size-adjust:none;} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] { -webkit-appearance:none;  border-radius:0;}
input:checked[type='checkbox'] { background-color:#666;  -webkit-appearance:checkbox;}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] { -webkit-appearance:button;  border-radius:0;}
input[type='search']::-webkit-search-cancel-button { -webkit-appearance:none;}
body { background:#fff;}
body,th,td,input,select,textarea,button { font-size:14px; line-height:1.5; font-family:'Malgun Gothic', '맑은 고딕', sans-serif; color:#333;} /* color값은 디자인가이드에 맞게사용 */
a { color:#333; text-decoration:none;}
a:active, a:hover { text-decoration:none;}
address,caption,cite,code,dfn,em,var { font-style:normal; font-weight:normal;}

#wrap { position:absolute; text-align:center; top:0; right:0; bottom:0; left:0; background:#000 url(images/bgWrap.png) no-repeat center center; background-size:cover; display:-webkit-box; display:-ms-flexbox; display:-webkit-flex; display:flex; -webkit-box-pack:center; -ms-flex-pack:center; -webkit-justify-content:center; justify-content:center; -webkit-box-align:center; -ms-flex-align:center; -webkit-align-items:center; align-items:center;}
#wrap * { -webkit-transition:all .2s linear; -ms-transition:all .2s linear; -o-transition:all .2s linear; transition:all .2s linear;}
.container dl { padding-top:20px;}
#wrap .footer { width:100%; padding:20px 0 10px 0; border-top:1px solid rgba(255,255,255,0.3);}
#wrap .btn { display:inline-block; width:85%; max-width:840px; margin-bottom:10px; border-radius:4px; padding:15px 0;}
#wrap .upBtn { background:#ffcc00; color:#000; border:1px solid #ffcc00;}
#wrap .downBtn { background:none; color:#fff; border:1px solid #fff;}

.container { padding:30px 0; color:#fff;}
.container dl { padding-top:20px;}
.container dt { font-size:2rem; margin-bottom:20px;}
.container dd { font-size:1.5rem; font-weight:400;}
.container img { width:90%;}
.spec1 { color:#ffcc00; font-weight:600;}
.spec2 { display:inline-block; padding:0 5px 2px 5px; background:#ffcc00; color:#000; font-weight:600;}
.container .spec3 { padding-top:5px; font-size:1.2rem; color:#ccc;}

@media (max-width:360px){html{font-size:10px;}}
@media (min-width:361px) and (max-width:399px){html{font-size:11px;}}
@media (min-width:400px) and (max-width:439px){html{font-size:12px;}}
@media (min-width:440px) and (max-width:479px){html{font-size:13px;}}
@media (min-width:480px) and (max-width:519px){html{font-size:14px;}}
@media (min-width:520px) and (max-width:559px){html{font-size:15px;}}
@media (min-width:560px) and (max-width:599px){html{font-size:16px;}}
@media (min-width:600px) and (max-width:639px){html{font-size:17px;}}
@media (min-width:640px) and (max-width:679px){html{font-size:18px;}}
@media (min-width:680px) and (max-width:719px){html{font-size:19px;}}
@media (min-width:720px) and (max-width:759px){html{font-size:20px;}}
@media (min-width:760px) and (max-width:799px){html{font-size:21px;}}
@media (min-width:800px) and (max-width:839px){html{font-size:22px;}}
@media (min-width:840px) and (max-width:879px){html{font-size:23px;}}
@media (min-width:880px){html{font-size:24px;}}
